/*********Team Container*******/
.teamMemberContainer{
    display:flex;
    justify-content:center;
    text-align:center;
    }
    
    .card{
      width: 40%;
      height: auto;
      background:var(--background-glass);
      border: var(--border-containers);
      backdrop-filter: blur(15px);
      margin:0 30px 30px;
      border-radius: 10px;
      box-shadow: 6px 6px 10px 0px rgba(195, 2, 163, 0.2);
      transition: transform 0.3s ease;
      color:#21042e;
    }
    
    .card:hover{
      transform:scale(1.1);
      box-shadow: 10px 5px 5px rgba(195, 2, 163, 0.2);
    }
    
    .profilPic{
      width:150px;
      height:auto;
      margin:20px;
      border-radius: 10px;
      border: 3px solid #730c8d;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    .name{
      font-weight: 600;
      font-size:large;
      color:var(--font-color-contact);
    }
    
  @media only screen and (max-width: 600px) {

.card{
  margin:10px;
}

.name{
  font-size: 12px;
}

.card p{
  font-size: 10px;
}
}

  @media only screen and (min-width: 601px) and (max-width: 900px) {
      /*******Team container******/
  .card{
    margin:10px;
    height:auto;
  }
  
  .name{
    font-size: 16px;
  }
  
  .name p{
    font-size: 13px;
  }
}